.cards {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 10rem;
    width: 7rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: 1px solid #c8c8c8;
    transition: width 500ms 50ms;
}
.cards:hover {
    width: 15rem;
}
.cards img {
    position: absolute;
    width: 100%;
}
.cards-data {
    position: absolute;
    height: 100%;
    width: 15rem;
    padding: 2rem 1rem;
    color: white;
    background-color: #282828ab;
    opacity: 0;
}
.cards:hover .cards-data {
    animation: cards-data 500ms 200ms forwards;
}

.cards-data p {
    font-size: 1.3rem;
}
.cards-data span {
    font-size: .8rem;
    margin-right: .4rem;
}
.cards-data span.rating {
    border: 1px solid white;
    padding: 0px .4rem;
}
.cards-data .imdb {
    margin-top: .5rem;
}
@keyframes cards-data {
    from { opacity: 0; }
    to { opacity: 100; }
}